button {
    font-family: @base-font;
}

.btn {
    border-radius: 4px;
    background-image: none !important;
    font-family: @base-font;
}

.btn .fa {
    line-height: 19px;
}
.btn .fa.icon-btn-left {
    margin-left: -6px;
}
.btn .fa.icon-btn-right {
    margin-right: -6px;
}

.btn-primary,
.btn-success {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
    box-shadow: none;
    background-repeat: repeat-x;
}

.btn-primary {
    color: #fff !important;
    background-color: @dw_scooter;
    border-color: darker(@dw_scooter, 5%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0276B0', GradientType=0);
    // filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-success {
    background-color: @dw_turquoise_dark !important;
    border-color: darker(@dw_turquoise_dark, 5%);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    color: #ffffff;
    background: @dw_scooter!important;
}

.btn-inverse {
    background: #555;
}

.btn-danger {
    background: #c71e1d;
}
