// Official Datawrapper colors:
@dw_scooter_dark: #15607a;
@dw_scooter: #1d81a2;
@dw_scooter_light: #18a1cd;
@dw_scooter_lightest: #e9f3f6;

@dw_turquoise_dark: #09bb9f;
@dw_turquoise: #39f3bb;

@dw_firebrick: #c71e1d;
@dw_orange: #ffb327;

@dw_blue: #4688d7;
@dw_green: #3ed081;
@dw_yellow: #ffdc27;
@dw_red: #cf4870;

@dw_black: #111111;
@dw_black_bis: #333333;
@dw_grey_darker: #4f4f4f;
@dw_grey_dark: #858585;
@dw_grey: #a7a7a7;
@dw_grey-light: #c9c9c9;
@dw_grey-lighter: #e5e5e5;
@dw_grey-lightest: #f0f0f0;
@dw_white_ter: #f5f5f5;
@dw_white_bis: #f9f9f9;
@dw_white: #ffffff;

// Legacy colors:
@dw_background: #f9f9f9;
@dw_lightgray: #eaeaea;
@pale-blue: #93b0d6;
@light-blue: #eef8fc;
@light-grey: #f9f9f9;
