/*
 * CUSTOMIZE BULMA
 */

// adjust bulma dropdowm arrow
.select:not(.is-multiple):not(.is-loading)::after,
.navbar-link:not(.is-arrowless)::after {
    border-width: 2px;
    border-radius: 0;
    width: 0.5em;
    height: 0.5em;
}

// Button

.button {
    font-weight: 500;
    box-shadow: 0 1px 5px rgba(black,0.05);
    &.is-white,
    &.is-light,
    &.is-ghost,
    &.is-text {
       box-shadow: none;
    }
}

// Box

.box {
    border-radius: $radius;
}

// FORMS
// Help

.help {
    line-height: 1.3;
}