@charset "utf-8";

@import './fonts';
@import './colors';
@import './vars';

// Global Defaults

:focus-visible {
    outline-color: #ffb800;
}
/*
 * BULMA
 */

@import '../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../node_modules/bulma/sass/base/_all.sass';

/*
 * BULMA ELEMENTS
 * https://bulma.io/documentation/elements/
 */
// @import "../../node_modules/bulma/sass/elements/_all.sass";
@import '../../node_modules/bulma/sass/elements/box.sass';
@import '../../node_modules/bulma/sass/elements/button.sass';
@import '../../node_modules/bulma/sass/elements/container.sass';
@import '../../node_modules/bulma/sass/elements/content.sass';
@import '../../node_modules/bulma/sass/elements/icon.sass';
// @import "../../node_modules/bulma/sass/elements/image.sass";
@import '../../node_modules/bulma/sass/elements/notification.sass';
@import '../../node_modules/bulma/sass/elements/other.sass';
@import '../../node_modules/bulma/sass/elements/progress.sass';
@import '../../node_modules/bulma/sass/elements/table.sass';
@import '../../node_modules/bulma/sass/elements/tag.sass';
@import '../../node_modules/bulma/sass/elements/title.sass';

/*
 * BULMA FORM
 * https://bulma.io/documentation/form/
 */
@import '../../node_modules/bulma/sass/form/_all.sass';

/*
 * BULMA COMPONENTS
 * https://bulma.io/documentation/components/
 */
// @import "../../node_modules/bulma/sass/components/_all.sass";
@import '../../node_modules/bulma/sass/components/breadcrumb.sass';
// @import "../../node_modules/bulma/sass/components/card.sass";
@import '../../node_modules/bulma/sass/components/dropdown.sass';
@import '../../node_modules/bulma/sass/components/level.sass';
// @import "../../node_modules/bulma/sass/components/media.sass";
@import '../../node_modules/bulma/sass/components/menu.sass';
@import '../../node_modules/bulma/sass/components/message.sass';
@import '../../node_modules/bulma/sass/components/modal.sass';
@import '../../node_modules/bulma/sass/components/navbar.sass';
@import '../../node_modules/bulma/sass/components/pagination.sass';
// @import "../../node_modules/bulma/sass/components/panel.sass";
@import '../../node_modules/bulma/sass/components/tabs.sass';

/*
 * BULMA GRID
 * https://bulma.io/documentation/columns/
 */
@import '../../node_modules/bulma/sass/grid/_all.sass';

/*
 * BULMA HELPERS
 * https://bulma.io/documentation/helpers/
 */
@import '../../node_modules/bulma/sass/helpers/_all.sass';

/*
 * BULMA LAYOUT
 * https://bulma.io/documentation/layout/
 */
@import '../../node_modules/bulma/sass/layout/_all.sass';
// @import "../../node_modules/bulma/sass/layout/footer.sass";
// @import "../../node_modules/bulma/sass/layout/hero.sass";
// @import "../../node_modules/bulma/sass/layout/section.sass";

// customization after import of bulma
@import './customize';
@import './customize-utils';

// Export as HTML Vars

html {
    --radius-small:  #{$radius-small};
    --radius:  #{$radius};
    --radius-large:  #{$radius-large};
    --mobile: #{$tablet} - 1px;
    --tablet: #{$tablet};
    --touch: #{$desktop} - 1px;
    --desktop: #{$desktop};
    --widescreen: #{$widescreen};
    --fullhd: #{$fullhd};
  }
