// -- VIEWPORTS

$desktop: 1200px;
$widescreen: 1400px; // was: 1216px
$fullhd: 1680px; // was: 1408px
$container-max-width: $widescreen; // was: $fullhd

// -- COLORS

$primary: $dw-scooter;

$info: $dw-blue;
$success: $dw-green;
$warning: $dw-yellow;
$danger: $dw-red;

$success-text: darken($success, 10%);
$warning-text: darken($warning, 15%);

$light: $dw-grey-lightest;
$dark: $dw-grey-dark;

$black: $dw-black;
$black-bis: $dw-black-bis;
// $black-ter: $dw-black-ter;
$grey-darker: $dw-grey-darker;
$grey-dark: $dw-grey-dark;
$grey: $dw-grey;
$grey-light: $dw-grey-light;
$grey-lighter: $dw-grey-lighter;
$grey-lightest: $dw-grey-lightest;
$white-ter: $dw-white-ter;
$white-bis: $dw-white-bis;
$white: $dw-white;

$background: $dw-white-bis;
$body-background-color: white;
$footer-background-color: transparent;

$border: $grey-lighter; // bulma default

// $border-hover
// $border-light
// $border-light-hover

// -- TYPOGRAHPY

$family-sans-serif: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$family-serif: 'Bitter', serif;
$family-monospace: 'Roboto Mono', Menlo, Consolas, Monaco, 'Liberation Mono', monospace;


$size-1: 3rem; // = 48px @ 16px base
$size-2: 2rem; // = 32px @ 16px base
$size-3: 1.5rem; // = 24px @ 16px base
$size-4: 1.25rem; // = 20px @ 16px base
$size-5: 1rem; // 16px @ 16px base
$size-6: 0.875rem; // = 14px @ 16px base
$size-7: 0.75rem; // = 12px @ 16px base

// $size-small: $size-7
// $size-normal: $size-6
// $size-medium: $size-5
// $size-large: $size-4

$text: $dw-black-bis;
$text-light: $dw-grey;
$text-strong: $dw-black;

$code: darken($dw-red, 15%);

$link: $dw-scooter;
// $link-visited
$link-hover: $dw-scooter-dark;
// $link-hover-border

$strong-color: inherit;

$shadow-small: 0 1px 5px rgba(black,.1);
$shadow-border: 0 0 0 1px rgba(black,0.05) inset;

// -- SIZES

$body-size: 16px;
$body-font-size: 14px;
$radius: 4px;


// -- ELEMENTS

$hr-height: 1px;
$hr-background-color: $dw-shade;

// Button

$button-color: $black-bis;
$button-hover-color: $black;
// $button-background-color: $white-ter;
$button-border-color: $grey-light;
$button-hover-border-color: $grey;

$button-text-color: inherit;
$button-text-decoration: none;
$button-text-hover-background-color: $dw-shade-lighter;
$button-text-hover-color: $text-strong;

$button-ghost-color: $link;
$button-ghost-decoration: none;
$button-ghost-hover-color: $link-hover;
$button-ghost-hover-decoration: none;


// Content

$content-heading-weight: 500; // medium instead of semibold
$content-heading-color: $dw-black-bis;

// Title

$title-color: $black-bis;
$title-weight: 500;  // medium instead of semibold
$title-line-height: 1.27;
$subtitle-color: $grey-dark;
$subtitle-strong-weight: 700;
$subtitle-strong-color: $grey-darker;
$subtitle-line-height: 1.35;
$subtitle-negative-margin: -0.75rem;

// Box

$box-radius: $radius;

// -- COMPONENTS

// Breadcrumb

$breadcrumb-item-padding-horizontal: 0.5em;

// Navbar

$navbar-breakpoint: 1024px;
$navbar-item-hover-background-color: $dw-white-bis;
$navbar-item-active-background-color: $dw-scooter-lightest;
$navbar-dropdown-item-active-background-color: $dw-scooter-lightest;
$navbar-divider-height: 1px;
$navbar-divider-background-color: $dw-grey-lighter;
$navbar-dropdown-arrow: $dw-grey-darker;
$navbar-z: 1000;
$navbar-dropdown-z: 1100;

// Modal
$modal-content-width: calc(100vw - 40px);
$modal-background-background-color: $dw-black;
$modal-z: 1200;

// Menu
$menu-label-color: $grey-dark;
$menu-label-font-size: 13px;
$menu-label-letter-spacing: 0.05em;
$menu-item-radius: none;
$menu-item-hover-color: $dw-scooter-dark;
$menu-item-hover-background-color: $dw-white-ter;
$menu-item-active-background-color: $dw-scooter;

// Message
// $message-body-padding: 1.25em 2.5em 1.25em 1.5em;
// $message-body-border-width: 1px 1px 1px 4px;

// Tabs
$tabs-link-color: $link;
$tabs-link-active-color: $text-strong;
$tabs-boxed-link-hover-background-color: $dw-shade-lighter;
$tabs-boxed-link-hover-border-bottom-color: $dw-grey-light;
$tabs-boxed-link-active-background-color: transparent;
$tabs-boxed-link-active-border-color: $dw-grey-light;

// -- LAYOUT
$section-padding: 1.5rem;

// -- FORM
$label-weight: 500;
$label-color: $text;

// Input
$input-color: $text;
$input-border-color: $dw-grey-light;
$input-placeholder-color: rgba($input-color, 0.45);
$input-disabled-background-color:  $dw-white-ter;
$input-disabled-border-color:  $dw-grey-lighter;

// Dropdown
$dropdown-item-active-color: $dw-black;
$dropdown-item-active-background-color: $dw-scooter-lightest;
$dropdown-content-padding-top: 0.25rem;
$dropdown-content-padding-bottom: 0.25rem;

// Table
$table-background-color: transparent;
$table-striped-row-even-background-color: $dw-shade-lighter;

// Select
$input-arrow: $grey;
